@model IEnumerable<Produtos_Sitio.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Produtos</h1>

<div class="btn-topo">
    <a asp-action="Create" class="btn btn-primary">Novo Produto</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantidade)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantidade)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
