@model Produtos_Sitio.Models.Usuario

@{
    ViewData["Title"] = "Usuário - Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="btn-topo">
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>
<h1>Detalhes do Usuário</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apelido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apelido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.login)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id" class="btn btn-primary">Editar</a>
</div>
