@model Produtos_Sitio.Models.Entrega

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Entrega</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_entrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_entrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.entregue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.entregue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
